aiogram==3.4.1
apscheduler==3.10.4
asyncpg==0.29.0
fastapi==0.111.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
psycopg2-binary==2.9.9
SQLAlchemy==2.0.30
tinkoff-invest-api==0.2.0b97
uvicorn==0.29.0