aiohttp==3.9.5
aiogram==3.4.1
apscheduler==3.10.4
asyncpg==0.29.0
fastapi==0.111.0
matplotlib==3.9.0
moexalgo==2.0.0
numpy==1.26.4
python-telegram-bot==21.2
sqlalchemy==2.0.31
uvicorn==0.30.1